
        /* Basic styles for simplicity */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #19a512;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        header a {
            color: white;
            text-decoration: none;
            margin: 0 10px;
        }
        .hero {
            background: url('<?= APP_URL ?>/nft.jpg') no-repeat center center/cover;
            height: 400px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .hero h1 {
            font-size: 3em;
        }
        .cta-button {
            background-color: #ff6600;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
        .categories, .products {
            padding: 20px;
        }
        .section-title {
            text-align: center;
            margin-bottom: 20px;
            font-size: 2em;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 20px;
        }
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
            padding: 10px;
        }
        .footer {
            background-color: #333;
            color: white;
            /* padding: 10px ; */
            text-align: center;
        }
        .form-container {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-container label, .form-container input, .form-container button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
        .form-container input {
            padding: 10px;
            font-size: 1em;
        }
        .form-container button {
            background-color: #333;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
 